<div class = "d-flex justify-content-center align-items-center justify-content-around mt-5">
  <% @products.each do |product| %>
    <div style = "height: 38rem; width: 18rem;">
      <%= image_tag(product.images.first, style: "width: 18rem; height: 18rem;" ) %>
      <div >
        <div>
          <h7 class = "card-title"><%= product.name  %></h7>
        </div>

        <div>
          <h6 class = "card-title"><%= product.price  %></h6>
        </div>

        <div>
          <%= link_to 'Details', product_path(product), class: "btn btn-success ms-5" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

