<div id="flash" class="flash w-100 d-flex justify-content-center">
  <% if notice.present? %>
    <div class="alert alert-info text-center position-absolute z-3 m-auto", style = "top: 80px;">
      <%= notice %>
      <button type="button" class="btn-close mx-3 mb-1" data-bs-dismiss="alert" aria-label="Close" >
      </button>    
    </div>  
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-warning text-center position-absolute z-3 m-auto", style = "top: 80px;">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>   
    </div>
  <% end %>
</div>